@model IEnumerable<Bussiness.Model.ViewModel.HistDepositos>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/css/Tables.css"/>

<div id="depositos">
    <table class="content-table">
        <thead>
    <tr>
        <td>
            @Html.DisplayNameFor(deposito => deposito.CodigoDeposito)
        </td>
         <td>
            @Html.DisplayNameFor(deposito => deposito.NumeroCuentaDestino)
        </td>
        <td>
            @Html.DisplayNameFor(deposito => deposito.TarjetaOrigen)
        </td>
          <td>
            @Html.DisplayNameFor(deposito => deposito.Monto)
        </td>
          <td>
            @Html.DisplayNameFor(deposito => deposito.Fecha)
        </td>
    </tr>
 </thead>
<tbody>
    @{
        foreach(var deposito in Model)
        {
            <tr>
                <td>@Html.DisplayFor(item => deposito.CodigoDeposito)</td>
                <td>@Html.DisplayFor(item => deposito.NumeroCuentaDestino)</td>
                <td>@Html.DisplayFor(item => deposito.TarjetaOrigen)</td>
                 <td>@Html.DisplayFor(item=> deposito.Monto)</td>
                 <td>@Html.DisplayFor(item=> deposito.Fecha)</td>
            </tr>
        }
    }
    </tbody>
</table>

</div>