@model IEnumerable<Bussiness.Model.ViewModel.HistRetiros>

<div id="depositos">
        <table class="content-table">
            <thead>
            <tr>
                <td>
                    @Html.DisplayNameFor(retiro => retiro.CodigoRetiro)
                </td>
                 <td>
                    @Html.DisplayNameFor(retiro => retiro.TarjetaDestino)
                </td>
                <td>
                    @Html.DisplayNameFor(retiro => retiro.MontoRetirado)
                </td>
                  <td>
                    @Html.DisplayNameFor(retiro => retiro.Fecha)
                </td>
            </tr>     
           </thead>
           <tbody>
               @{ foreach(var retiro in Model)
                {
                   <tr>
                        <td>@Html.DisplayFor(item => retiro.CodigoRetiro)</td>
                        <td>@Html.DisplayFor(item => retiro.TarjetaDestino)</td>
                        <td>@Html.DisplayFor(item => retiro.MontoRetirado)</td>
                         <td>@Html.DisplayFor(item=> retiro.Fecha)</td>
                    </tr>
                    }   
                }
                </tbody>
            </table>
    </div>