@model Bussiness.Model.BindingModel.TransferenciaBindingModel

@{
    Layout = "_LayoutClientes";
}

<link rel="stylesheet" href="/css/PoPupWindow.css" />

<div class = "cuentasContainer">
    @{
        foreach(string cuenta in ViewBag.cuentas)
        {
            <input type="button" value="@cuenta" onclick="insertAccount(this.value);">
        }
    } 
</div>
@*
<script>
    const insertAccount = (cuenta = "") => document.getElementById("cuentaOrigen").value = cuenta;
</script>
*@
<form action="Transferencia" method = "post">
    
        @Html.LabelFor(transf => transf.CuentaOrigen);
        @Html.EditorFor(transf=> transf.CuentaOrigen, new {htmlAttributes = new {@class="input-texto", id = "cuentaOrigen", @readonly = "readonly"} })
        @Html.ValidationMessageFor(transf => transf.CuentaOrigen, "", new {@class = "error-message"})

        @Html.LabelFor(transf => transf.Cuenta);
        @Html.EditorFor(transf=> transf.Cuenta, new {htmlAttributes = new {@class="input-texto"} })
        @Html.ValidationMessageFor(transf => transf.Cuenta, "", new {@class = "error-message"})

        @Html.LabelFor(transf => transf.Cantidad);
        @Html.EditorFor(transf=> transf.Cantidad, new {htmlAttributes = new {@class="input-texto"} })
        @Html.ValidationMessageFor(transf => transf.Cantidad, "", new {@class = "error-message"})

    <input type="button" value="Editar Cuenta" class="submit-button" id="open" />

        <div class="modal-cont" id="modal-cont">
        <div class="modal">
        <h1>Nuevo Cliente</h1>
        <br />
        <p>¿Desea realizar la transferencia? 
        </p>
        <br />
        <input type="submit" value="SI" class="yes pop" id="enviar"> 
        <input type="button"  value="NO" class="no pop" id="cerrar"/>
        </div>
    </div>
</form>
<script src="/js/Cuentas.js"></script>
<script src="~/js/Popup.js"></script>