@model Bussiness.Model.BindingModel.PagoTarjetaBindingModel

@{
    Layout = "_LayoutClientes";
}

<link rel="stylesheet" href="/css/PoPupWindow.css" />

<div class = "cuentasContainer">
    @{
        foreach(string cuenta in ViewBag.cuentas)
        {
            <input type="button" value="@cuenta" onclick="getBalance(this.value);">
        }
    } 
</div>

<div class = "tarjetasContainer">
    @{
        foreach(string tarjeta in ViewBag.tarjetas)
        {
            <input type="button" value="@tarjeta" onclick="getBalanceTarjeta(this.value);">
        }
    } 
</div>

<form action="PagoTarjeta" method = "post">
    
        @Html.LabelFor(card => card.NumeroCuenta);
        @Html.EditorFor(card => card.NumeroCuenta, new {htmlAttributes = new {@class="input-texto", id = "cuentaOrigen", @readonly = "readonly"} })
        @Html.ValidationMessageFor(card=> card.NumeroCuenta, "", new {@class = "error-message"})

        @Html.LabelFor(card => card.BalanceCuenta);
        @Html.EditorFor(card => card.BalanceCuenta, new {htmlAttributes = new {@class="input-texto", id = "balance", @readonly = "readonly"} })
        @Html.ValidationMessageFor(card=> card.BalanceCuenta, "", new {@class = "error-message"})

        @Html.LabelFor(card => card.NumeroTarjeta);
        @Html.EditorFor(card => card.NumeroTarjeta, new {htmlAttributes = new {@class="input-texto", id = "tarjetaDestino", @readonly = "readonly"} })
        @Html.ValidationMessageFor(card=> card.NumeroTarjeta, "", new {@class = "error-message"})

        @Html.LabelFor(card => card.BalanceConsumidoTarjeta);
        @Html.EditorFor(card => card.BalanceConsumidoTarjeta, new {htmlAttributes = new {@class="input-texto", id = "balanceTarjeta", @readonly = "readonly"} })
        @Html.ValidationMessageFor(card=> card.BalanceConsumidoTarjeta, "", new {@class = "error-message"})

        @Html.LabelFor(card => card.MontoAPagar);
        @Html.EditorFor(card => card.MontoAPagar, new {htmlAttributes = new {@class="input-texto", id = "balanceTarjeta"} })
        @Html.ValidationMessageFor(card=> card.MontoAPagar, "", new {@class = "error-message"})

    <input type="button" value="Editar Cuenta" class="submit-button" id="open" />

        <div class="modal-cont" id="modal-cont">
        <div class="modal">
        <h1>Nuevo Cliente</h1>
        <br />
        <p>¿Desea realizar el pago a la tarjeta de crédito? 
        </p>
        <br />
        <input type="submit" value="SI" class="yes pop" id="enviar"> 
        <input  type="button"  value="NO" class="no pop" id="cerrar"/>
        </div>
    </div>
</form>

<script src="~/js/Cuentas.js"></script>
<script src="~/js/Popup.js"></script>
    