@model IEnumerable<Bussiness.Model.ViewModel.HistRetiros>

@{
    Layout = "_LayoutClientes";
}

        @{
    foreach(var item in ViewBag.tarjetas)
    {
        <input type="button" value="@item"  onclick="changeListTarjeta(this.value);"/>
    }
    }

    <div id="contPagos">
        <table class="table table-bordered">
            <tr>
               <td>
                  Codigo del pago
                </td>
                <td>
                    Fecha
                </td>
                 <td>
                   Cuenta de origen
                </td>
                 <td>
                   Moto Pagado
                </td>
            </tr>
                        @{
                            foreach(var item in Model){
                    <tr>
                      <td>@Html.DisplayFor(pago => item.CodigoRetiro)</td>
                        <td>@Html.DisplayFor(pago=> item.Fecha)</td>
                        <td>@Html.DisplayFor(pago => item.CuentaOrigen)</td>
                        <td>@Html.DisplayFor(pago => item.MontoRetirado)</td>
                    </tr>
                            }
  }
        </table>
        </div>

<script src="~/js/Cuentas.js"></script>