@model IEnumerable<Bussiness.Model.ViewModel.VerTarjeta>

@{
    Layout = "_LayoutClientes";
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/css/Tables.css"/>

<table class="content-table">
    <thead>
            <tr>
                <td>
                    @Html.DisplayNameFor(tarjeta => tarjeta.NumeroTarjeta)
                </td>
                <td>
                    @Html.DisplayNameFor(tarjeta => tarjeta.BalanceConsumido)
                </td>
                 <td>
                    @Html.DisplayNameFor(tarjeta => tarjeta.MontoDisponible)
                </td>
            </tr>
            </thead>
            <tbody>
            @{
        foreach(var item in Model)
        {
        <tr>
        <td>@Html.DisplayFor(card=> item.NumeroTarjeta)</td>
        <td>@Html.DisplayFor(card=> item.BalanceConsumido)</td>
        <td>@Html.DisplayFor(card=> item.MontoDisponible)</td>
         </tr>
         
        }
                }
                </tbody>
        </table>