@model Bussiness.Model.BindingModel.CuentaEditBindingModel;

@{
    Layout = "_LayoutAdmin";
}


<form action="EditCuenta" method = "post">

        @Html.LabelFor(cuenta => cuenta.NumeroCuenta);
        @Html.EditorFor(cliente => cliente.NumeroCuenta, new {htmlAttributes = new {@class="input-texto", @readonly = "readonly"} })
        @Html.ValidationMessageFor(cliente => cliente.NumeroCuenta, "", new {@class = "error-message"})

        @Html.LabelFor(cuenta => cuenta.Balance);
        @Html.EditorFor(cliente => cliente.Balance, new {htmlAttributes = new {@class="input-texto"} })
        @Html.ValidationMessageFor(cliente => cliente.Balance, "", new {@class = "error-message"})

        @Html.EditorFor(cuenta => cuenta.FechaCreacion, new {htmlAttributes = new {@class="input-texto", @readonly = "readonly"} })

        @Html.LabelFor(cuenta => cuenta.Cedula);
        @Html.EditorFor(cliente => cliente.Cedula, new {htmlAttributes = new {@class="input-texto", @readonly = "readonly"} })
        @Html.ValidationMessageFor(cliente => cliente.Cedula, "", new {@class = "error-message"})

    <input type="submit" value="Editar Cuenta" class="submit-button" />

</form>