@model IEnumerable<Bussiness.Model.ViewModel.Cuenta>

@{
    Layout = "_LayoutAdmin";
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/css/Tables.css"/>

<h1>Administración de cuentas de ahorro</h1>

<table class="content-table">
    <thead>
    <tr>
        <td>
            @Html.DisplayNameFor(cuenta => cuenta.NumeroCuenta)
        </td>
         <td>
            @Html.DisplayNameFor(cuenta => cuenta.Cedula)
        </td>
        <td>
            @Html.DisplayNameFor(cuenta => cuenta.Balance)
        </td>
          <td>
            @Html.DisplayNameFor(cuenta => cuenta.FechaCreacion)
        </td>
          <td>
            Edición
        </td>
    </tr>
    </thead>
 <tbody>
    @{
        foreach(var cuenta in Model)
        {
            <tr>
                <td>@Html.DisplayFor(item => cuenta.NumeroCuenta)</td>
                <td>@Html.DisplayFor(item => cuenta.Cedula)</td>
                <td>@Html.DisplayFor(item => cuenta.Balance)</td>
                 <td>@Html.DisplayFor(item=> cuenta.FechaCreacion)</td>
                <td>@Html.ActionLink("Editar", "EditCuenta", "AdminCuentas", new {cuentaToUpdate = cuenta.NumeroCuenta},new {@class = "btn-btn-primary btn-sm"})</td>
            </tr>
        }
    }
    </tbody>
</table>
