@model IEnumerable<Bussiness.Model.ViewModel.Cliente>

@{
    Layout = "_LayoutAdmin";
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/css/Tables.css"/>

<h1>Administración de clientes</h1>

<table class="content-table">
    <thead>
    <tr>
        <td>
            @Html.DisplayNameFor(cliente => cliente.Cedula)
        </td>
        <td>
            @Html.DisplayNameFor(cliente => cliente.Nombre)
        </td>
        <td>
            @Html.DisplayNameFor(cliente => cliente.Apellido)
        </td>
        <td>
            @Html.DisplayNameFor(cliente => cliente.FechaNacimiento)
        </td>
        <td>
            @Html.DisplayNameFor(cliente => cliente.Direccion)
        </td>
        <td>
            @Html.DisplayNameFor(cliente => cliente.Telefono)
        </td>
         <td>
            @Html.DisplayNameFor(cliente => cliente.CorreoElectronico)
        </td>
        <td>Edicion</td>
    </tr>
 </thead>

 <tbody>
    @{
        foreach(var cliente in Model)
        {
            <tr>
                <td>@Html.DisplayFor(client => cliente.Cedula)</td>
                <td>@Html.DisplayFor(client => cliente.Nombre)</td>
                <td>@Html.DisplayFor(client => cliente.Apellido)</td>
                <td>@Html.DisplayFor(client => cliente.FechaNacimiento)</td>
                <td>@Html.DisplayFor(client => cliente.Direccion)</td>  
                <td>@Html.DisplayFor(client => cliente.Telefono)</td>
                <td>@Html.DisplayFor(client => cliente.CorreoElectronico)</td>
                <td>@Html.ActionLink("Editar", "EditCliente", "AdminClients", new {cedula = cliente.Cedula},new {@class = "btn-btn-primary btn-sm"})</td>
            </tr>
        }
    }
</tbody>
</table>