@model Bussiness.Model.BindingModel.CreditCardCreateBindingModel;

<form action="CreateTarjeta" method = "post">

    @Html.LabelFor(tarjeta => tarjeta.NumeroTarjeta);
    @Html.EditorFor(tarjeta => tarjeta.NumeroTarjeta, new {htmlAttributes = new {@class="input-texto"} })
    @Html.ValidationMessageFor(tarjeta => tarjeta.NumeroTarjeta, "", new {@class = "error-message"})

     @Html.LabelFor(tarjeta => tarjeta.Cedula);
    @Html.EditorFor(tarjeta => tarjeta.Cedula, new {htmlAttributes = new {@class="input-texto"} })
    @Html.ValidationMessageFor(tarjeta => tarjeta.Cedula, "", new {@class = "error-message"})

 @Html.LabelFor(tarjeta => tarjeta.ValorDeValidacion);
    @Html.EditorFor(tarjeta => tarjeta.ValorDeValidacion, new {htmlAttributes = new {@class="input-texto"} })
    @Html.ValidationMessageFor(tarjeta => tarjeta.ValorDeValidacion, "", new {@class = "error-message"})

 @Html.LabelFor(tarjeta => tarjeta.BalanceDisponible);
    @Html.EditorFor(tarjeta => tarjeta.BalanceDisponible, new {htmlAttributes = new {@class="input-texto"} })
    @Html.ValidationMessageFor(tarjeta => tarjeta.BalanceDisponible, "", new {@class = "error-message"})

 @Html.LabelFor(tarjeta => tarjeta.FechaVencimiento);
    @Html.EditorFor(tarjeta => tarjeta.FechaVencimiento, new {htmlAttributes = new {@class="input-texto"} })
    @Html.ValidationMessageFor(tarjeta => tarjeta.FechaVencimiento, "", new {@class = "error-message"})

    <input type="submit" value="Crear Tarjeta" class="submit-button" />

</form>