
@Html.ActionLink("Ver mis cuentas", "VerCuentas", "CuentasClientes")
@Html.ActionLink("Realizar transferencia", "Transferencia", "CuentasClientes")
@Html.ActionLink("Ver depositos", "Depositos", "CuentasClientes")
@Html.ActionLink("Ver retiros", "Retiros", "CuentasClientes")
@Html.ActionLink("Pagar Prestamo", "PagoPrestamo", "PrestamosClientes")

@Html.ActionLink("Ver Prestamos", "VerPrestamos", "PrestamosClientes")
@Html.ActionLink("Historial de prestamos", "VerHistPrestamos", "PrestamosClientes")
@*@Html.ActionLink("Ver retiros", "Retiros", "CuentasClientes")*@

<p>@ViewBag.Message</p>