@{
    Layout = "_LayoutFree";
}

@model Bussiness.Model.BindingModel.LoginUsuarioBindingModel

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
   <link href="~/css/FormulariosAutenticacion.css"  rel="stylesheet" />

<div id="Autenticacion">
   
<form action="Login" method = "post" id="form">

    <div id="imgF">
    <img src="~/IMG/lgob.png" id="form-img" />
    </div>
    <div class="campo">
    @Html.LabelFor(usuario => usuario.NombreUsuario)
    @Html.EditorFor(usuario => usuario.NombreUsuario, new {htmlAttributes = new {@class="input-text"} })
    @Html.ValidationMessageFor(usuario => usuario.NombreUsuario, "", new {@class = "error-message"})
    </div>

    <div class="campo">
    @Html.LabelFor(usuario => usuario.Password)
    @Html.PasswordFor(usuario => usuario.Password, new {@class="input-text"})
    @Html.ValidationMessageFor(usuario => usuario.Password, "", new {@class = "error-message"})
    </div>


    <input type="submit" value="LogIn" class="submit-button" />

<a asp-action="RegistroUsuario" asp-controller"UsuariosManagement" id="registrate">
    <p>¿No tienes una cuenta? Registrate aqui</p>
    </a>

</form>
</div>
<p>@ViewBag.Message</p>