@model Bussiness.Model.BindingModel.PagoPrestamoBindingModel

@{
    Layout = "_LayoutClientes";
}

<link rel="stylesheet" href="/css/PoPupWindow.css" />

<div class = "cuentasContainer">
    @{

        foreach(string cuenta in ViewBag.cuentas)
        {
            <input type="button" value="@cuenta" onclick="getBalance(this.value);">
        }
    } 
</div>

<form action="PagoPrestamo" method = "post">
    
        @Html.LabelFor(pago => pago.NumeroCuentaOrigen);
        @Html.EditorFor(pago => pago.NumeroCuentaOrigen, new {htmlAttributes = new {@class="input-texto", @id = "cuentaOrigen", @readonly = "readonly"} })
        @Html.ValidationMessageFor(pago => pago.NumeroCuentaOrigen, "", new {@class = "error-message"})

        @Html.LabelFor(pago => pago.BalanceCuenta);
        @Html.EditorFor(pago => pago.BalanceCuenta, new {htmlAttributes = new {@class="input-texto", id = "balance", @readonly = "readonly"} })
        @Html.ValidationMessageFor(pago => pago.BalanceCuenta, "", new {@class = "error-message"})

        @Html.LabelFor(pago => pago.MontoAPagar);
        @Html.EditorFor(pago => pago.MontoAPagar, new {htmlAttributes = new {@class="input-texto", id = "monto", @readonly = "readonly" } })
        @Html.ValidationMessageFor(pago => pago.MontoAPagar, "", new {@class = "error-message"})

        @Html.LabelFor(pago => pago.MontoPrestado);
        @Html.EditorFor(pago => pago.MontoPrestado, new {htmlAttributes = new {@class="input-texto", id = "pago", @readonly = "readonly"} })
        @Html.ValidationMessageFor(pago => pago.MontoPrestado, "", new {@class = "error-message"})
    <input type="button" value="Editar Cuenta" class="submit-button" id="open" />

        <div class="modal-cont" id="modal-cont">
        <div class="modal">
        <h1>Nuevo Cliente</h1>
        <br />
        <p>¿Desea realizar el pago del préstamo? 
        </p>
        <br />
        <input type="submit" value="SI" class="yes pop" id="enviar"> 
        <input  type="button" value="NO" class="no pop" id="cerrar"/>
        </div>
    </div>
</form>

<script src="~/js/Cuentas.js"></script>
 <script src="~/js/Popup.js"></script>