@model IEnumerable<Bussiness.Model.ViewModel.HistPrestamos>

    <div class="contPagos">
        <table class="content-table">
            <thead>
            <tr>
               <td>
                  @Html.DisplayNameFor(pago=> pago.CodigoPrestamo)
                </td>
                <td>
                    @Html.DisplayNameFor(pago=> pago.Fecha)
                </td>
                 <td>
                    @Html.DisplayNameFor(pago => pago.Monto)
                </td>
            </tr>
            </thead>
            <tbody>

                    @{
                       foreach(var item in Model){
                    <tr>
                      <td>@Html.DisplayFor(pago => item.CodigoPrestamo)</td>
                        <td>@Html.DisplayFor(pago=> item.Fecha)</td>
                        <td>@Html.DisplayFor(pago => item.Monto)</td>
                    </tr>
            }
  }
            </tbody>
        </table>
        </div>