@model IEnumerable<Bussiness.Model.ViewModel.HistPrestamos>

@{
    Layout = "_LayoutClientes";
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/css/Tables.css"/>

<h1>Historial de préstamos</h1>

    @{
    foreach(var item in ViewBag.prestamos)
    {
        <input type="button" value="@item"  onclick="changeList(this.value);"/>
    }
    }

   <div id="contPagos">
        <table class="content-table">
            <thead>
            <tr>
               <td>
                  @Html.DisplayNameFor(pago=> pago.CodigoPrestamo)
                </td>
                <td>
                    @Html.DisplayNameFor(pago=> pago.Fecha)
                </td>
                 <td>
                    @Html.DisplayNameFor(pago => pago.Monto)
                </td>
            </tr>
            </thead>
            <tbody>
                        @{
                            foreach(var item in Model){
                    <tr>
                        <td>@Html.DisplayFor(pago => item.CodigoPrestamo)</td>
                        <td>@Html.DisplayFor(pago=> item.Fecha)</td>
                        <td>@Html.DisplayFor(pago => item.Monto)</td>
                    </tr>
                            }
  }
  </tbody>
        </table>
</div>

<script src="~/js/Cuentas.js"></script>