@model Bussiness.Model.ViewModel.PrestamospC

@{
    Layout = "_LayoutClientes";
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/css/Tables.css"/>

@* @{
        if (ViewBag.message != null)
    {*@
        <table class="content-table">
            <thead>
            <tr>
                <td>
                    @Html.DisplayNameFor(prestamo => prestamo.CodigoPrestamo)
                </td>
                 <td>
                    @Html.DisplayNameFor(prestamo => prestamo.MontoPrestado)
                </td>
                <td>
                    @Html.DisplayNameFor(prestamo => prestamo.PagoPorCuota)
                </td>
                  <td>
                    @Html.DisplayNameFor(prestamo => prestamo.PagoRestante)
                </td>
            </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>@Html.DisplayFor(prestamo => prestamo.CodigoPrestamo)</td>
                        <td>@Html.DisplayFor(prestamo => prestamo.MontoPrestado)</td>
                        <td>@Html.DisplayFor(prestamo => prestamo.PagoPorCuota)</td>
                         <td>@Html.DisplayFor(prestamo=> prestamo.PagoRestante)</td>
                    </tr>
                    </tbody>
        </table>
@*    }*@
    
    <p>@ViewBag.message</p>

@*    else
    {
    }
 }*@